window {
	background-color: @theme_bg_color;
    color: @theme_fg_color;	
}



.keyList .keyEntry {
    margin: 1px;
	border: solid;
	border-radius: 3px 10px 3px 10px;
	border-width: 1px;
	padding: 5px;
}

.keyList button {
    background: none;
    border: none;
    transition: none;
}

.keyList button:backdrop {
    color: currentColor;
}

.keyList button:hover .keyEntry {
    transition: none;
    background: none;
    background-color: @theme_selected_bg_color;
}

.keyList button:active {
    transition: none;
    background-image: none;
    color: @theme_selected_fg_color;
}

.keyList button:focus {
    outline-width: 0px;
}

.keyList .current .keyEntry {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

.keyDetailsBox {
    border: solid;
    border-radius: 0 15px 15px 0;
    border-width: 1.5px;
    padding: 3px;
}

.keyDetail .header {
    margin-bottom: 5px
}

.keyList .header {
    margin: 5px;
}

.keyDetail .header, .keyList .header {
    border-bottom: 1px dashed currentColor;
    font-size: 130%;
    font-weight: 500;
}

.keyDetail .header {
    margin: 4px;
}

.keyDetail .pathLabel {
    padding-right: 10px;
}

.keyList .header {
    margin: 5px;
}

.infoMessage {
    color: @theme_text_color;
    margin: 10px;
}

.keyDetail.privateKey {
    background-image: -gtk-icontheme('privWhite');
    background-repeat: no-repeat;
    background-size: 30px;
}

.keyDetail.publicKey {
    background-image: -gtk-icontheme('pubWhite');
    background-repeat: no-repeat;
    background-size: 30px;
}

.keyDetail.keyPair {
    background-image: -gtk-icontheme('pairWhite');
    background-repeat: no-repeat;
    background-size: 30px;
}

.keyEntry.publicKey {
    background-color: @keylist-entry-public-bg;
}

.keyEntry.privateKey {
    background-color: @keylist-entry-private-bg;
}

.keyEntry.pair {
    background-color: @keylist-entry-pair-bg;
}

.fingerprint .fingerprintLabel {
    padding-right: 10px;
}

.passwordProtected {
    font-style: italic;
    color: @theme_unfocused_fg_color;
}

.keyDetail grid label {
    padding-right: 10px;
}