scrolledwindow {
	background-color: @theme_bg_color;
    color: @theme_fg_color;	
}

box > box {
    margin: 1px;
	border: solid;
	border-radius: 3px 10px 3px 10px;
	border-width: 1px;
	padding: 5px;
}

.keyEntry.publicKey {
    background-color: @keylist-entry-public-bg;
}

.keyEntry.privateKey {
    background-color: @keylist-entry-private-bg;
}

.keyEntry.pair {
    background-color: @keylist-entry-pair-bg;
}